# Node.js
node_modules/
dist/

# Environment variables
.env

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

